<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">

<blocks>
	<block
            id="livematches-container"
            template="livematches_container"
            includepages="all"
            excludepages="sponsor"
            area="sidebar"
            weight="2"
            role="user" />
    
    <block
            id="livematches"
            template="all_livematches"
            model="AllLiveMatchesBlockModel"
            weight="2"
            role="user" />
</blocks>
            
</module>
